# .env.example template
BASE_URL=your-site-user-goes-here
AUTH_POPUP_USER=your-auth-popup-user-goes-here
AUTH_POPUP_PASSWORD=your-auth-popup-password-goes-here
LOGIN_EMAIL=your-login-email-goes-here
LOGIN_PASSWORD=your-login-password-goes-here
CHROMATIC_PROJECT_TOKEN=your-chromatic-project-token-goes-here